body{
    background-image:url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;

    
}
#boton{
    background-image: linear-gradient(rgb(177, 39, 177), rgb(241, 179, 189))
}